body {
  max-width: 1440px;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #FAF9F9;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 4px #E9E9E9);
  margin-bottom: 20px;
}

.header__nav {
  position: relative;
  display: flex;
  flex-basis: 499px;
  justify-content: space-between;
  margin-right: 50px;
}

.header__nav:after {
  position: absolute;
  right: -30px;
  top: -3px;
  content: '';
  width: 24px;
  height: 24px;
  background: url('../images/arrow_down.svg');
}

.nav__link {
  /*font-family: 'Proxima Nova Regular', sans-serif;*/
  /*font-weight: 400;*/
  font-size: 16px;
}


.nav__link:first-child {
  /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  /*font-weight: 400;*/
  text-shadow: black 0 0 1px, 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__right {
  display: flex;
  flex-direction: row;
  flex-basis: 300px;
  justify-content: space-between;
}

.header__filter {
  position: relative;
  background-color: #fff;
  width: 70px;
  height: 40px;
}

.filter_football {
  padding: 8px 10px;
}

.header__filter:after {
  position: absolute;
  top: 8px;
  content: '';
  width: 24px;
  height: 24px;
  background: url('../images/arrow_down.svg');
}

.header__bag {
  position: relative;
  width: 21px;
  height: 28px;
  margin-top: 6px;
  margin-right: 12px;
  background: url('../images/Bag.svg');
}

/*.header__bag {*/
/*  position: relative;*/
/*}*/

.header__bag:after {
  position: absolute;
  top: 15px;
  left: 12px;
  content: '1';
  font-size: 12px;
  padding: 1px 0 0 5px;
  width: 11px;
  height: 14px;
  color: #fff;
  background-color: #86E3CE;
  border-radius: 10px;
}

/*.header__filter:before {*/
/*  position: absolute;*/
/*  content: '';*/
/*  width: 24px;*/
/*  height: 24px;*/
/*  background: url('../images/football.svg');*/
/*}*/

main {
  background-color: #FAF9F9;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
}

.main__aside {
  display: flex;
  flex-direction: column;
  flex-basis: 295px;
  height: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #E9E9E9;
  margin-bottom: 247px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 184px;
  padding: 20px;
  color: #fff;
  background: #2C2C2C linear-gradient(to right, rgba(30, 30, 40, 0), rgba(90, 96, 231, 0.35));
  border-radius: 10px;
  box-sizing: border-box;
}

.card__basic {
  display: flex;
  justify-content: space-between;
}

.header__avatar {
  margin-right: 10px;
}

.card__ratio {
  display: flex;
  /*justify-content: space-between;*/
}

.card__ratio_basic {
  font-size: 30px;
  line-height: 33px;
  margin-right: 2px;
}

.card__ratio_add {
  position: relative;
  width: 42px;
  height: 16px;
  font-size: 12px;
  line-height: 13.2px;
  color: #EFEFFD;
  padding: 2px 0 0 6px;
  background-color: #5A60E7;
  border-radius: 10px;
  box-sizing: border-box;
}

.card__ratio_add:after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background: url('../images/ratio_up.svg');
}

.card__name {
  font-size: 20px;
  line-height: 22px;
}

.card__edit {
  position: relative;
  font-size: 12px;
  line-height: 13.2px;
  color: #ACAFF3;
  padding-left: 19px;
}

.card__edit:before {
  position: absolute;
  left: 0;
  content: '';
  width: 14px;
  height: 14px;
  background: url('../images/edit.svg');
}

.aside__menu, .aside__sub-menu {
  list-style: none;
 padding-left: 0;
  margin-left: 20px;
}

.menu__link {
  position: relative;
  max-width: 210px;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 10px 10px 29px;
  margin-bottom: 5px;
}

.aside__sub-menu .menu__link {
  padding: 10px;
}

.menu__link_active {
  /*height: 32px;*/
  color: #5A60E7;
  background-color: #EFEFFD;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 29px;
}

.menu__link_stat:before {
  position: absolute;
  content: '';
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../images/user.svg");
}
.menu__link_next:before {
  position: absolute;
  content: '';
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../images/calendar.svg");
}
.menu__link_reports:before {
  position: absolute;
  content: '';
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../images/report.svg");
}
.menu__link_history:before {
  position: absolute;
  content: '';
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../images/history.svg");
}
.menu__link_exit:before {
  position: absolute;
  content: '';
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../images/log_out.svg");
}

.aside__menu>.menu__link:last-child {
  margin-top: 50px;
}

.menu__link:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.main__content {
  display: flex;
  flex-direction: column;
  flex-basis: 1015px;
}

.card__main {
  flex-direction: row;
  z-index: 0;
  margin-bottom: 20px;
}

.card__achie {
  display: flex;
  flex-direction: column;
  flex-basis: 275px;
}

.card__achie-first {
  /*position: relative;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #D6D7F9;
}

.card__achie-left .header__avatar {
  position: relative;
}

.card__achie-left .header__avatar:after {
  position: absolute;
  content: '';
  height: 15px;
  width: auto;
  background-color: #fff;
}

.card__achie-left .header__avatar:first-child:after {
  content: '5';
}
/*.card__achie-first:after {*/
/*  position: absolute;*/
/*  content: '';*/
/*  */
/*}*/


.card__games {
  flex-basis: 440px;
}

.card__seasons {
  display: flex;
  flex-basis: 440px;
  justify-content: space-between;
  padding: 4px;
  border: 0.5px solid #5A60E7;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 17.6px;
  box-sizing: border-box;
}

.card__seasons div {
  display: flex;
  flex-basis: 210px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.card__seasons-all {
  background-color: #5A60E7;
  border-radius: 3px;
}

.card__seasons-last {
  color: #ACAFF3;
}

.card__counts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__count {
  position: relative;
  width: 93px;
  height: 73px;
  border-radius: 5px;
  padding: 5px;
}

.card__count::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(135deg, #6171FF 0, rgba(97, 113, 255, 0) 48.75%, #6171FF 100%);
  border-radius: 7px;
  z-index: -1;
}

.counts__text {
  font-size: 10px;
  line-height: 10px;
  color: #FAF9F9;
}

.counts__number {
  font-size: 30px;
  line-height: 42px;
  color: #FF795B;
  text-align: end;
}

.card__socials {
  flex-basis: 173px;
  height: 150px;
  background: url("../images/pattern.svg") no-repeat top right;
}

.card__share {
  position: relative;
  top: -10px;
  font-size: 12px;
  line-height: 13.2px;
  color: #ACAFF3;
}

.social-icon {
  width: 25px;
  margin-right: 7px;
  height: 25px;
}

.content__format {
  position: relative;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 170px;
  height: 40px;
  padding: 9px 8px 9px 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22.4px;
  color: #909090;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.content__format:after {
  position: absolute;
  right: 8px;
  content: '';
  width: 24px;
  height: 24px;
  background: url("../images/arrow_down.svg");

}

.content__table {
  box-shadow: 0px 2px 8px #E9E9E9;
}

.table__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #EFEFFD;
}


.table__season {
  flex-basis: 350px;
  cursor: pointer;
}

.table__col {
  position: relative;
  flex-basis: 110px;
  padding-left: 10px;
}

.table__title .table__col {
  cursor: pointer;
}

.table__title .table__col::after, .table__title .table__col::before {
  position: absolute;
  left: 0;
  content: '';
  width: 6px;
  height: 6px;
}

.table__title .table__col::before {
  background: no-repeat url("../images/triangle_up.svg");
  bottom: 8px;
}

.table__title .table__col::after {
  bottom: 1px;
  background: no-repeat url("../images/triangle_down.svg");
}

.table__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.table__line:nth-child(2n) {
  background-color: #FAF9F9;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: #222222;
  color: #fff;
  padding: 50px 40px 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 17.6px;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
}

.contacts__logo {
  margin-bottom: 30px;
}

.contacts__banners {
  margin-bottom: 50px;
  /*margin-right: 175px;*/
}

.contacts__banner {
  margin-right: 10px;
}

.footer__text_blue {
  color: #ACAFF3
}

.contacts__text {
  margin-bottom: 20px;
}

.contacts__phone {
  margin-bottom: 10px;
}

.contacts__phone, .contacts__mail {
  position: relative;
  padding-left: 34px;
}

.contacts__phone:before, .contacts__mail:before {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: '';
  width: 24px;
  height: 24px;
}

.contacts__phone:before {
  background: url("../images/phone.svg");
}

.contacts__mail:before {
  background: url("../images/mail.svg");
}

.footer__structure {
  display: flex;
  justify-content: space-between;
  flex-basis: 800px;
  margin-right: 96px;
}

.structure__title {
  margin-bottom: 20px;
}

.structure__link {
  margin-bottom: 10px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icons {
  position: relative;
  bottom: 5px;
}